/* Styling for completed checkboxes and delete buttons */
.checkContainer {
  width: 24px; /* Adjusted for better click area */
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Non-completed state circle */
.checkContainer div {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #4ea8de; /* Blue border */
  background: none; /* No fill */
}

/* Completed state styles */
.checkmark {
  width: 24px;
  height: 24px;
  background-color: purple; /* Filled purple background */
  color: white; /* White checkmark color */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Circle shape */
}

/* Hide the circle when completed */
.circle {
  display: none; /* Hide the non-completed circle */
}

/* Change this class to apply when completed */
.completed {
  display: block; /* Ensure checkmark is displayed */
}

/* Assignments text styling */
.assignment p {
  font-size: 14px;
  line-height: 19px;
  color: #f2f2f2;
  margin-right: auto;
}

.textCompleted {
  color: #808080; /* Grey color for completed text */
  text-decoration: line-through; /* Strikethrough for completed assignments */
}

/* Styling for the delete button */
.deleteButton {
  background: none;
  border: none;
  color: #808080;
  cursor: pointer;
}

/* Due date bubble styles */
.dueDateBubble {
  padding: 5px 10px;
  border-radius: 12px;
  background-color: green;
  color: white;
}

.dueSoon {
  background-color: red; /* Red background for overdue */
}
