.assignment {
  width: 100%;
  background: #262626;
  border: 1px solid #333333;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.assignment p {
  font-size: 14px;
  line-height: 19px;
  color: #f2f2f2;
  margin-right: auto;
}

p.textCompleted {
  color: #808080;
  text-decoration: line-through;
}

.checkContainer {
  width: 18px;
  height: 18px;
  background: none;
  border: none;
}

.checkContainer div {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  border: 2px solid #4ea8de;
}

.checkContainer svg {
  width: 100%;
  height: 100%;
  color: #5e60ce;
}

.deleteButton {
  background: none;
  border: none;
  color: #808080;
}
.checkmark {
  color: #5dedeb; /* Color for the checkmark */
  font-size: 18px; /* Adjust size as needed */
  text-align: center;
}
.dueDateBubble {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  color: #fff; /* Text color */
  margin-left: 12px; /* Space between the text and bubble */
  border: 2px solid transparent; /* Default border */
}

.dueDays {
  background-color: #4ea8de; /* Color for days left */
  border-color: #3b8bba; /* Optional border color for days left */
}

.dueSoon {
  background-color: #ff0000; /* Red background for 'Tomorrow' */
  border-color: #ff4d4d; /* Border color for 'Tomorrow' */
}

.dueNow {
  background-color: #ff7f50; /* Color for 'Due: Now' */
  border-color: #ff4d4d; /* Border color for 'Due: Now' */
}
